<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "flappybird.shane_macadat.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Shane Flappy Bird</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap.
    </description>

    <author href="https://scratch.mit.edu/users/shane_macadat" email="shane.macadat.social@gmail.com">
        shane.macadat
    </author>

</widget>
